<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur fugit nesciunt unde dicta incidunt sint nobis rem, blanditiis voluptas eveniet deleniti vitae ipsam sapiente amet.</p>
        <p>Error debitis, rem, maxime enim inventore maiores fuga recusandae, quas ullam repellendus laboriosam qui quisquam. Laudantium, praesentium reiciendis ratione aliquam molestiae commodi molestias cum dolorum?</p>
        <p>Aperiam, fugit perferendis? Odio sed incidunt nulla maiores optio ex, quis sint possimus autem illo quos recusandae, ipsa accusamus dolores repudiandae corrupti necessitatibus non dignissimos.</p>
    </div>
</body>
</html>